@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* root */
:root {
  --primary-color: #3bb77e;
  --white: #ffffff;
  --txt-primary: #7e7e7e;
  --txt-second: #253D4E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  margin: 10px 50px;
}

/* reusable variables */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--txt-primary);
}

.txt-primary {
  color: var(--txt-primary);
}

span {
  color: var(--primary-color);
}

.arrow {
  font-size: 13px;
}

/* nav-about-us */
.nav-about-container {
  margin-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.nav-about-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 20px;
}

.drop-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  padding: 0 0 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.lang-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lang-wrapper img {
  height: 15px;
}

.lang-list {
  background-color: var(--white);
  position: absolute;
  top: 45px;
  left: 0;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  max-height: 250px;
  overflow-y: scroll;
  width: 100%;
  display: none;
  z-index: 1;
}

.lang-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  z-index: 1;
}

.lang-item:hover {
  background-color: rgb(211, 211, 211);
}

.lang-item img {
  height: 15px;
}

.show {
  display: block;
}

/* nav categories */
.nav-cat-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  padding-bottom: 13px;
  gap: 30px;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.nav-logo img {
  height: 35px;
}

.search-bar {
  display: flex;
  align-items: center;
  min-width: 600px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  background-color: var(--white);
}

.cat-dropdown {
  position: relative;
  min-width: 200px;
  cursor: pointer;
}

.cat-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  font-size: 13px;
  color: var(--primary-color);
}

.cat-list {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--primary-color);
  max-height: 0;
  overflow: hidden;
  color: var(--white);
  transition: max-height 0.5s;
  z-index: 1;
}

#cat-list.show {
  max-height: 300px;
}

.cat-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1;
}

.cat-list-item:hover {
  margin-left: 0.5rem;
}

.search-box {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
  color: var(--primary-color);
}

.search-box input {
  padding: 1rem;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  color: var(--primary-color);
  border: 0;
  outline: 0;
}

.search-box i {
  font-size: 1rem;
  cursor: pointer;
}

.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: var(--txt-primary);
}

.nav-icon {
  margin-left: 100px;
}

.nav-icon-list {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  gap: 15px;
}

.nav-icon-item {
  font-weight: 300;
  cursor: pointer;
}

.nav-icon-item i {
  color: var(--primary-color);
}

/* nav product */
.nav-product-section {
  margin-top: 13px;
  padding-bottom: 13px;
}

.nav-product-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* browse-menu */
.nav-browse-dropdown {
  position: relative;
  min-width: 200px;
  cursor: pointer;
  padding-left: 75px;
}

.browse-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 13px;
  color: var(--white);
  background-color: var(--primary-color);
  gap: 5px;
  border-radius: 10px;
}

.browse-menu span {
  color: var(--white);
}

.browse-list {
  position: absolute;
  top: 3rem;
  left: 10;
  width: 75%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1;
}

#browse-list.show {
  max-height: 300px;
}

.browse-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1;
}

.browse-list-item:hover {
  margin-left: 0.5rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-home {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.nav-home a {
  color: var(--primary-color);
}

/* shop menu */
.nav-shop {
  position: relative;
  min-width: 50px;
  cursor: pointer;
}

.nav-shop-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 13px;
  color: var(--txt-second);
  gap: 5px;
  border-radius: 10px;
}

.shop-list {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1;
}

#shop-list.show {
  max-height: 300px;
}

.shop-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1;
}

.shop-list-item:hover {
  margin-left: 0.5rem;
}

.nav-shop-container span {
  color: var(--txt-second);
  font-size: 15px;
}

/* stores menu */
.nav-stores {
  position: relative;
  min-width: 50px;
  cursor: pointer;
}

.nav-stores-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 13px;
  color: var(--txt-second);
  gap: 5px;
  border-radius: 10px;
}

.stores-list {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1;
}

#stores-list.show {
  max-height: 300px;
}

.stores-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1;
}

.stores-list-item:hover {
  margin-left: 0.5rem;
}

.nav-stores-container span {
  color: var(--txt-second);
  font-size: 15px;
}

/* product-menu */
.nav-prod {
  position: relative;
  min-width: 50px;
  cursor: pointer;
}

.nav-prod-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 13px;
  color: var(--txt-second);
  gap: 5px;
  border-radius: 10px;
}

.prod-list {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1;
}

#prod-list.show {
  max-height: 300px;
}

.prod-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1;
}

.prod-list-item:hover {
  margin-left: 0.5rem;
}

.nav-prod-container span {
  color: var(--txt-second);
  font-size: 15px;
}

/* blog */
.nav-blog {
  position: relative;
  min-width: 50px;
  cursor: pointer;
}

.nav-blog-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 13px;
  color: var(--txt-second);
  gap: 5px;
  border-radius: 10px;
}

.blog-list {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1;
}

#blog-list.show {
  max-height: 300px;
}

.blog-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1;
}

.blog-list-item:hover {
  margin-left: 0.5rem;
}

.nav-blog-container span {
  color: var(--txt-second);
  font-size: 15px;
}

.nav-faq {
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
}

.nav-faq a {
  color: var(--txt-second);
}

.nav-contact {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.nav-contact a {
  color: var(--txt-second);
}

/* hero section */
.hero-container {
  background-image: url("../img/hero-bg.png");
  width: 100%;
  height: 70vh;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: relative;
  margin: 0 8%;
  padding: 8% 0;
}

.hero-text .title {
  font-family: "Quicksand", sans-serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}

.hero-text p {
  margin: 25px 0;
  font-size: 24px;
  font-weight: 300;
  color: var(--txt-primary);
  font-family: "lato", sans-serif;
}

.hero-search {
  display: flex;
  align-items: center;
  width: 24%;
  margin: 0 8%;
  background-color: var(--white);
  border-radius: 50px;
}

.hero-search i {
  display: inline-block;
  top: 5px;
  /* /* margin-top: -5px; */
  margin-left: 30px;
  font-size: 22px;
  color: var(--primary-color);
  transform: rotate(-35deg);
}

.search-input {
  display: block;
  top: 10px;
  left: 30px;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 20px;
  font-size: 18px;
}

.hero-search .search-btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 20px 35px;
  border-radius: 50px;
  z-index: 1;
}
