@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* root */
:root {
  --primary-color: #3bb77e;
  --white: #ffffff;
  --txt-primary: #7e7e7e;
  --txt-second: #253D4E;
  --btn-bg: #F2F3F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  margin: 10px 50px;
}

/* reusable variables */
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--txt-primary);
}

.txt-primary {
  color: var(--txt-primary);
}

span {
  color: var(--primary-color);
}

.arrow {
  font-size: 13px;
}

/* nav-about-us */
.nav-about-container {
  margin-top: 13px;
  padding-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.nav-about-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 20px;
}

.drop-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 125px;
  padding: 0 0 0.3rem;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

.lang-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.lang-wrapper img {
  height: 15px;
}

.lang-list {
  background-color: var(--white);
  position: absolute;
  top: 45px;
  right: 0.5px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  max-height: 250px;
  overflow-y: scroll;
  width: 135px;
  display: none;
  z-index: 1001;
}

.lang-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  gap: 0.5rem;
  z-index: 1001;
}

.lang-item:hover {
  background-color: rgb(211, 211, 211);
}

.lang-item img {
  height: 15px;
}

.show {
  display: block;
}

/* nav categories */
.nav-cat-section {
  position: sticky;
  top: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  padding-bottom: 13px;
  padding-top: 13px;
  gap: 30px;
  border-bottom: 1px solid rgb(202, 202, 202);
  background-color: var(--white); 
  z-index: 1000; 
}

.nav-logo img {
  height: 35px;
}

.search-bar {
  display: flex;
  align-items: center;
  min-width: 600px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  background-color: var(--white);
}

.cat-dropdown {
  position: relative;
  min-width: 200px;
  cursor: pointer;
}

.cat-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  font-size: 13px;
  color: var(--primary-color);
}

.cat-list {
  position: absolute;
  top: 4rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--primary-color);
  max-height: 0;
  overflow: hidden;
  color: var(--white);
  transition: max-height 0.5s;
  z-index: 1;
}

#cat-list.show {
  max-height: 300px;
}

.cat-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1;
}

.cat-list-item:hover {
  margin-left: 0.5rem;
}

.search-box {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
  color: var(--primary-color);
}

.search-box input {
  padding: 1rem;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  color: var(--primary-color);
  border: 0;
  outline: 0;
}

.search-box i {
  font-size: 1rem;
  cursor: pointer;
}

.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 500;
  color: var(--txt-primary);
}

.nav-icon {
  margin-left: 100px;
}

.nav-icon-list {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  gap: 15px;
}

.nav-icon-item {
  font-weight: 300;
  cursor: pointer;
}

.nav-icon-item i {
  color: var(--primary-color);
}

/* nav product */
.nav-product-section {
  margin-top: 13px;
  padding-bottom: 13px;
}

.nav-product-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* browse-menu */
.nav-browse-dropdown {
  position: relative;
  min-width: 300px;
  cursor: pointer;
  padding-left: 75px;
}

.browse-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  font-size: 13px;
  color: var(--white);
  background-color: var(--primary-color);
  gap: 5px;
  border-radius: 10px;
}

.browse-menu span {
  color: var(--white);
}

.browse-list {
  position: absolute;
  top: 3rem;
  left: 10;
  width: 75%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1000;
}

#browse-list.show {
  max-height: 300px;
}

.browse-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem 0 1rem 1.5rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1000;
}

.browse-list-item:hover {
  margin-left: 0.5rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-home {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.nav-home a {
  color: var(--primary-color);
}

/* shop menu */
.nav-shop {
  position: relative;
  min-width: 50px;
  cursor: pointer;
}

.nav-shop-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 13px;
  color: var(--txt-second);
  gap: 5px;
  border-radius: 10px;
}

.shop-list {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1000;
}

#shop-list.show {
  max-height: 300px;
}

.shop-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1000;
}

.shop-list-item:hover {
  margin-left: 0.5rem;
}

.nav-shop-container span {
  color: var(--txt-second);
  font-size: 15px;
}

/* stores menu */
.nav-stores {
  position: relative;
  min-width: 50px;
  cursor: pointer;
}

.nav-stores-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 13px;
  color: var(--txt-second);
  gap: 5px;
  border-radius: 10px;
}

.stores-list {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1000;
}

#stores-list.show {
  max-height: 300px;
}

.stores-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1000;
}

.stores-list-item:hover {
  margin-left: 0.5rem;
}

.nav-stores-container span {
  color: var(--txt-second);
  font-size: 15px;
}

/* product-menu */
.nav-prod {
  position: relative;
  min-width: 50px;
  cursor: pointer;
}

.nav-prod-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 13px;
  color: var(--txt-second);
  gap: 5px;
  border-radius: 10px;
}

.prod-list {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1000;
}

#prod-list.show {
  max-height: 300px;
}

.prod-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1000;
}

.prod-list-item:hover {
  margin-left: 0.5rem;
}

.nav-prod-container span {
  color: var(--txt-second);
  font-size: 15px;
}

/* blog */
.nav-blog {
  position: relative;
  min-width: 50px;
  cursor: pointer;
}

.nav-blog-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  padding: 0.5rem;
  font-size: 13px;
  color: var(--txt-second);
  gap: 5px;
  border-radius: 10px;
}

.blog-list {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
  border-radius: 15px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  color: var(--primary-color);
  transition: max-height 0.5s;
  z-index: 1000;
}

#blog-list.show {
  max-height: 300px;
}

.blog-list-item {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: margin-left 0.2s ease;
  z-index: 1000;
}

.blog-list-item:hover {
  margin-left: 0.5rem;
}

.nav-blog-container span {
  color: var(--txt-second);
  font-size: 15px;
}

.nav-faq {
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
}

.nav-faq a {
  color: var(--txt-second);
}

.nav-contact {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.nav-contact a {
  color: var(--txt-second);
}

/* Hero Section */
.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-container {
  width: 100%;
  height: 70vh;
  border-radius: 15px;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 8%;
  transform: translateY(-50%);
  color: var(--txt-second);
  text-align: left;
}

.hero-text .title {
  font-family: "Quicksand", sans-serif;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}

.hero-text p {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 300;
  color: var(--txt-primary);
  font-family: "Lato", sans-serif;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
}

.swiper-pagination-bullet {
  background: var(--primary-color);
  border: 1px solid var(--white);
}

/* top cat section */
.top-cat-section {
  padding-top: 30px;
  padding-bottom: 13px;
}

.top-cat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

.top-cat-header .title {
  color: var(--txt-second);
}

.top-cat-list-wrapper {
  overflow: hidden;
}

.top-cat-list {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
}

.top-cat-item {
  padding: 10px;
  /* min-width: 7vw; */
  align-items: center;
  text-align: center;
  border-radius: 15px;
  color: var(--txt-second);
  cursor: pointer;
}

.top-cat-item .name {
  font-size: 11px;
  line-height: 19px;
  font-weight: 500;
}

.top-cat-item .sum-item {
  font-size: 10px;
}

.top-cat-item img {
  height: 85px;
}

.btn-top-cat .btn-prev,
.btn-top-cat .btn-next,
.btn-prev-daily,
.btn-next-daily {
  background-color: var(--btn-bg);
  border: none;
  padding: 5px;
  border-radius: 30px;
  width: 25px;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

/* ads section */
.ads-section {
  padding-top: 30px;
  padding-bottom: 13px;
  position: relative;
}

.ads-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.ads-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 40vh;
}

.ads-text {
  max-width: 20vw;
  padding: 3rem 1.5rem;
  color: var(--txt-second);
  text-align: left;
}

.ads-text h4 {
  position: relative;
  font-weight: 600;
  padding-bottom: 20px;
}

.btn-shop {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  font-weight: 400;
}

/* daily best section */
.daily-best-section {
  padding-top: 20px;
  padding-bottom: 13px;
}

.daily-best-header {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.daily-best-header h3 {
  color: var(--txt-second);
}

.daily-best-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.daily-ads {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  width: 100%;
  min-height: 55vh;
}

.daily-ads-text {
  max-width: 20vw;
  padding: 3rem 1.5rem;
  color: var(--txt-second);
  text-align: left;
}

.daily-ads-text h2 {
  position: relative;
  font-weight: 700;
  padding-bottom: 70px;
}

.daily-best-product {
  display: flex;
  align-items: center;
  position: right;
}

.daily-best-list {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  width: 100%;
  max-width: calc(100% - 5px);
  overflow: hidden;
}

.daily-best-item {
  width: 215px;
  max-height: 60vh;
  border: 1px solid #dadada;
  border-radius: 10px;
  margin: 0 10px;
}

.daily-best-img {
  width: auto;
  height: 27vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.daily-best-text {
  max-width: 3.5vw;
  max-height: 3.5vh;
  padding: 2px 8px 8px 8px;
  color: var(--txt-second);
  text-align: center;
  background-color: #F74B81;
  border-radius: 5px;
}

.daily-best-text p {
  font-size: 12px;
  color: var(--white);
}

.daily-best-desc {
  padding: 0 1rem 1rem 1rem;
  text-align: left;
}

.daily-best-cat {
  font-size: 10px;
  color: var(--txt-primary);
  padding-bottom: 5px;
}

.daily-best-desc .title {
  font-size: 13px;
  font-weight: 800;
}

.rating {
  font-size: 12px;
  color: rgb(221, 221, 13);
  padding-bottom: 3px;
}

.best-deals {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 3px;
}

.best-deals span {
  font-size: 15px;
  font-weight: 500;
}

.best-deals p {
  font-size: 12px;
  text-decoration: line-through;
}

.best-sold {
  font-size: 10px;
  padding-bottom: 5px;
}

.btn {
  display: flex;
  align-items: center;
}

.btn-cart {
  padding: 8px 45px 8px 45px;
  margin: 0 auto;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}

.line-container {
  position: relative;
  height: 3px; 
}

.line-sold-first {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--txt-primary);
  border-radius: 5px;
  z-index: 1;
}

.line-sold-second {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 50%;
  background-color: var(--primary-color);
  border-radius: 5px;
  z-index: 2;
}

.btn-daily-best {
  display: flex;
  align-items: center;
}
